body {
    background: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 60px auto;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.block {
    margin-bottom: 25px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 8px;
    border: none;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #333;
    color: white;
}

button:hover {
    background: #555;
}

.main-btn {
    background: #ff9800;
    color: black;
    font-weight: bold;
}

.main-btn:hover {
    background: #ffa733;
}

.card {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
}