DATABASE_URL=sqlite:///./test.db
S3_BUCKET=your-s3-bucket-name
S3_PREFIX=menu-photos/

OPENAI_API_KEY=sk-your-openai-api-key-here

CHROMA_COLLECTION_NAME=manual-import
EMBEDDING_MODEL=text-embedding-3-small

AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_DEFAULT_REGION=your-bucket-region
